
.footer{
    height: 80px;
}

.logo-dark {
    display: block;
    width: 128px;
    height: 38px;

    overflow: hidden;
    text-indent: 101%;

    background: url(../img/d’Perfumew.png) no-repeat center;
}

.copyright{
    font-size: 14px;
}